<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">LOGO</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li <% if (menuId === 'inicio') { %> class="active" <% } %> id="home"><a href="/">INICIO</a></li>
                <li <% if (menuId === 'login') { %> class="active" <% } %> id="login"><a href="/login">LOGIN</a></li>
                <li <% if (menuId === 'registro') { %> class="active" <% } %> id="registro"><a href="/registro">REGISTRO</a></li>
                <li <% if (menuId === 'admin') { %> class="active" <% } %> id="admin"><a href="/admin">PANEL ADMIN</a></li>
            </ul>
        </div>
    </div>
</nav>