<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('includes/menu')  %>
    <div>
      <div class="caja te">
        <h1 id="txt">100ºc</h1>
        <canvas id="temp"></canvas>
      </div>
      <div class="caja hu">
        <h1 id="txt1">100%</h1>
        <canvas id="hum"></canvas>
      </div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/gauge.min.js"></script>
  <script src="js/dashboard.js"></script>
</html>
