<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de control</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('includes/menu')  %>
    <div class="container">
      <div class="row">
        <div class="caja te">
          <h1 id="txt">100ºc</h1>
          <canvas id="temp"></canvas>
        </div>
        <div class="caja hu">
          <h1 id="txt1">100%</h1>
          <canvas id="hum"></canvas>
        </div>
      </div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
  <script src="js/gauge.min.js"></script>
  <script src="js/dashboard.js"></script>
</html>
