@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato:300&display=swap');

:root {
    --color-bg: #3C1053FF;
    --color-txt: #FF2B6B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: Josefin sans;
    background: var(--color-bg);
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vh;
}

.header {
    text-align: center;
    margin: 4em 0;
    font-size: 1.2rem;
}

.header h1 {
    color: var(--color-txt);
}

.login {
    width: 400px;   
    /* background-color: #ffffff; */
    box-shadow: 0 0 9px 0 rgba(10, 9, 9, 0.3);
    /* margin: 100px auto; */
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.form-group {
    width: 100%;
    padding: 0 30px;
    position: relative;
    display: flex;
    flex-flow: column;
    text-align: left;
    /* margin-bottom: 40px; */
}