@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato:300&display=swap');

:root {
    --color-bg: #3C1053FF;
    --color-txt: #FF2B6B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: Josefin sans;
    background: var(--color-bg);
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vh;
}

.header {
    text-align: center;
    margin: 4em 0;
    font-size: 1.2rem;
}

.header h1 {
    color: var(--color-txt);
}

.login {
    width: 400px;   
    background-color: #6e3f85;
    box-shadow: 0 0 9px 0 rgba(10, 9, 9, 0.3);
    /* margin: 100px auto; */
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px;
}
.form-group {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    text-align: left;
    margin-bottom: 40px;
}

.icon {
    position: absolute;
    left: 5px;
    top: 20px;
    font-size: 1.7rem;
}

.form-label {
    position: absolute;
    font-size: 1rem;
    color: #e3e3e3;
    font-weight: bold;
    letter-spacing: 1px;
    top: 40%;
    left: 10%;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s;
}

.input-form {
    outline: none;
    padding: 1.3rem 1rem 0.6rem 2.5rem;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    border-bottom: 3px solid #e3e3e3;
    color: white;
}

.input-form:focus {
    border-bottom: 3px solid var(--color-txt);
}
.input-form:focus + label,
.input-form:valid + label {
    top: 2px;
}

.btn {
    width: 50%;
    justify-content: center;
    padding: 1rem 3rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: #e3e3e3;
    outline: none;
    color: #141414;
    text-transform: uppercase;
    transition: 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) all;
}
.btn:hover {
    background-color: var(--color-txt);
    color: #fff;
}