#txt, #txt1 {
    padding: 10px;
    margin: auto;
}
#txt { background: #764AF1;}

.te { background: #9772FB;}

#txt1 { background: #247881; }

.hu { background: #43919B; }

.caja { 
    height: 220px;
    text-align: center;
    border: 3px solid black;
}