@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root{
    --verde: #83c908;
    --amarillo: #f6df3c;
    --naranja: #ffc23c;
    --font: Poppins, 'sans serif';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: var(--font);
}

.active > a {
    color: #83c908 !important;
}

.header{
    background-color: #222831;
    box-shadow: 1px 1px 5px 0px #393E46;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 15px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0px 10px;
}

.menu a { 
    text-decoration: none;
    color: #EEEEEE;
    display: flex;
    padding: 5px;
    text-transform: uppercase;
    transition: all .5s;
    font-size: 1.2rem;
}

.logo { height: 50px; margin: 10px 20px;}

.logo img { height: 100%; }

.menu a{
    color: #EEEEEE;
}

.menu a:hover{
    color: #f6df3c;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 768px) { 
    .header {
        flex-flow: column;
        position: relative;
    }
    #toggle {
        position: absolute;
        top: 15px;
        right: 40px;
        cursor: pointer;
        display: block;
    }
    #toggle i {
        font-size: 2.4rem;
        color: #EEEEEE;
    }
    .menu {
        flex-flow: column;
    }
    nav {
        display: none;
    }
}